@page "/"
<div class="image-container">
    <img src="UpdatedMetroMap.png">
    @foreach (var item in Loaders.Map)
    {
        int Count = 0;
        @if (CurrentStatin is not null)
        {
            @if (CurrentStatin.Line == item.Line)
            {
                Count = Math.Abs(CurrentStatin.ID - item.ID);
            }
            @if (CurrentStatin.Line is Line.Line1 && item.Line is Line.Line2 || item.Line is Line.Line1 && CurrentStatin.Line is Line.Line2)
            {
                int switcher = CurrentStatin.ID >= 20 && item.ID > 21 ? 22 :
                CurrentStatin.ID >= 21 && item.ID < 20 ? 19 :
                CurrentStatin.ID >= 21 && item.ID <= 21 ? 22 : 19;

                int Count1 = Math.Abs(CurrentStatin.ID - switcher);
                int Count2 = Math.Abs(item.ID - switcher);
                Count = Count1 + Count2;
            }
            @if (CurrentStatin.Line is Line.Line3 && item.Line is Line.Line2 || item.Line is Line.Line3 && CurrentStatin.Line is Line.Line2)
            {
                int switcher = 21;
                int Count1 = Math.Abs(CurrentStatin.ID - switcher);
                int Count2 = Math.Abs(item.ID - switcher);
                Count = Count1 + Count2;
            }
            @if (CurrentStatin.Line is Line.Line3 && item.Line is Line.Line1 || item.Line is Line.Line3 && CurrentStatin.Line is Line.Line1)
            {
                int switcher1 = CurrentStatin.Line is Line.Line1 ?
                CurrentStatin.ID >= 21 ? 22 : 19 :
                item.ID >= 21 ? 22 : 19;
                int switcher2 = 21;

                int SwitchCount = Math.Abs(switcher2 - switcher1);

                int Count1 = CurrentStatin.Line is Line.Line1 ?
                Math.Abs(CurrentStatin.ID - switcher1) :
                Math.Abs(CurrentStatin.ID - switcher2);

                int Count2 = CurrentStatin.Line is Line.Line1 ?
                Math.Abs(item.ID - switcher2)  :
                Math.Abs(item.ID - switcher1);
                Count = Count1 + Count2 + SwitchCount;
            }
            <button @onclick="()=> Click(item)" type="button" class="look__hotspot absolute-possitioned @(Count < 9 ? "yellow" : Count < 16 ?  "green" : "red" )" style="@item.Style" @onmouseover="(MouseEventArgs e) => MouseOver(e,item)" @onmouseout="MouseOut"></button>
        }
        else
        {
            <button @onclick="()=> Click(item)" type="button" class="look__hotspot absolute-possitioned" style="@item.Style" @onmouseover="(MouseEventArgs e) => MouseOver(e,item)" @onmouseout="MouseOut"></button>
        }
    }
</div>